@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; 
}

.side-bar-items .ant-menu {
  height: 100%;
}

.side-bar-items {
  width: 250px;
  background-color: #1b42d4;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover, :where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover {
  color: rgba(0, 0, 0, 0.88);
  background: white !important;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: black;
}




